html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  font-family: sans-serif;
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 350px;
  background-color: #283e50;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;

}

.box__image {
  background-image: url(images/uvodni.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  border-radius: 10px 10px 0 0;
}

.box__image img {
  width: 100%;

}

.box__title {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-bottom: 0;
  color: white;
}

.box__description {
  padding: 1.5rem 0.5rem;
  font-weight: lighter;
  line-height: 1.5;
  margin-top: 0;

}

.box__button {
  color: white;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;

}

.box__button--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.box__button--rules:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.box__button--start {
  background-color: #0197f6;
}

.box__button--start:hover {
  background-color: #0090e9;
  cursor: pointer;

}

/* hra */

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  padding-bottom: 20px;
  margin-top: 20px;
  font-weight: 300;
}

.playgroundHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-align: left;
  width: 100%;
}

.playgroundHeader__info {
  padding-right: 10px;
  font-weight: bold;

}

.playgroundHeader__player {
  display: flex;
}

.playgroundHeader__btnContainer {
  display: flex;

}

.playgroundHeader__btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.playgroundHeader__img {
  width: 100%;
}

.playgroundHeader__btn--home {
  background-color: #1fcca4;
}

.playgroundHeader__btn--back {
  background-color: #0197f6;
  margin-left: 10px;

}

.playgroundHeader__btn--home:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.playgroundHeader__btn--back:hover {
  background-color: #0090e9;
  cursor: pointer;

}


.playground__grid {
  width: 70vw;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 10px;
  border: 0.5px solid black;
  background-color: rgba(255, 255, 255, 0.24);
  max-width: 75vmin;
  max-height: 80vmin;
}


.playground__button {

  background: none;
  border: 0.5px solid black;
  outline: none;
}

.playground__button:hover {
  background-color: rgba(255, 255, 255, 0.50);
  cursor: pointer;
}

.board__field--circle {
  background-image: url(images/circle.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.board__field--cross {
  background-image: url(images/cross.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

}
